.post-list-wrapper {
  position: relative;
  margin: 10px;
  width: 500px;
  height: 150px;
  border-bottom: 1px solid white;
}

.post-title {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}

.post-date {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.post-desc {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 480px;
  // background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-chips-container {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.post-chip {
  margin: 3px;
  padding: 5px;
  border: 1px solid white;
  background-color: white;
  color: black;
  font-size: 10px;
}
